*{
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

body{
    font-size: 16px;
    font-family: 'Segoe UI','Open Sans','Arial';
    margin: 0;
}

.centrado{
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.ir-arriba{
    background-color: darkgreen;
    display: none;
    padding: 10px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    border-radius: 12px;
}

#triangulobotonarriba{
    height: 0;
    border-bottom: 30px solid #FFFFFF;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    width: 0;
    transition: all .5s linear;
    z-index: 101;
}

.franjanegra{
    background-color: black;
    height: auto;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
}

.alinearfloatderecha{
    float: right;
}

.alinearfloatizquierda{
    float: left;
}

#cuadrodeencabezado{
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 7px;
}

.espacioarribayabajodelogo{
    padding-top: 15px;
    padding-bottom: 5px;
}

.espacioarribadelinksrss{
    padding-top: 5px;
}

.tamanotextoencabezado{
    font-size: 1.2em;
    font-weight: 500;
}   

#tamanoimgtelefono{
    width: 22px;
    height: auto;
}

#tamanoimgsobre{
    width: 22px;
    height: auto;
}

#fondotel{
    background-color: black;
}

#fondotel:hover{
    background-color: green;
    border-radius: 5px;
    padding-left: 6px;
}

#fondocorreo{
    background-color: black;
}

#fondocorreo:hover{
    background-color: green;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
}

@media screen and (max-width: 480px){
    .alinearfloatizquierda{
        float: none;
        text-align: center;
    }
    
    .alinearfloatderecha{
        float: none;
        text-align: center;
    }
    
    .espacioarribadelinksrss{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .tamanotextoencabezado{
        font-size: 1em;
    }
} 


@media screen and (max-width: 480px) and (orientation: landscape){
    .alinearfloatizquierda{
        float: none;
        text-align: center;
    }
    
    .alinearfloatderecha{
        float: none;
        text-align: center;
    }
    
    .espacioarribadelinksrss{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .tamanotextoencabezado{
        font-size: 1em;
    }
}


/* orientation: landscape */


#fondosecc1{
    background-color: #000000;
    height: auto;
}

#espacioenmediodelaseccion1{
    max-width: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
}

.acomodardisplay{
    display: inline-block;
}

.anchocompleto{
    width: 100%;
}

#tituloblanco{
    color: white;
    font-size: 3.8em;
    font-weight: 600;
    text-align: center;
}

@media screen and (max-width: 480px){
    #espacioenmediodelaseccion1{
        max-width: 100%;
        padding-top: 40px;
        padding-bottom: 20px;
    }   
    
    #tituloblanco{
        color: white;
        font-size: 2.2em;
        font-weight: 600;
        text-align: center;
    }
}

#tamanoimgcertificado{
    height: auto;
    max-width: 75%;
}

#espacioarribayabajodecertificado{
    padding-top: 23px;
    padding-bottom: 0px;
}

.textoblanco{
    color: white;
}

#textoprecioespecial{
    color: gold;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 28px;
}

#precioresaltado{
    color: white;
    font-size: 5em;
    font-weight: 600;
    text-align: center;
}

#precioanterior{
    font-size: 1.5em;
    color: red;
    text-align: center;
}

#preciotachadorojo{
    text-decoration: line-through;
}

#espaciotituloyflecha{
    height: 100px;
    width: 100%;
}

@media screen and (max-width: 480px){
    #textoprecioespecial{
        font-size: 1.5em;
        text-align: center;
    }
    
    #precioresaltado{
        font-size: 2.6em;
        text-align: center;
    }
    
    #precioanterior{
        color: red;
        font-size: 1.2em;
        text-align: center;
    }
    
    #espaciotituloyflecha{
        height: 70px;
        width: 100%;
    }
}

#flechaabajo{
    max-width: 100%;
    height: auto;
    padding-left: 49%;
    animation-direction: alternate;
}

#triangulo{
    height: 0;
    border-top: 30px solid #FFFFFF;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    width: 0;
    transition: all .5s linear;
}

#triangulo:hover{
    border-top: 30px solid #FFFF00;
}

#fondoseccion2{
    background-image: url(Logos%20de%20office.png);
    background-position: center -55%;
    background-size: 60px;
    background-repeat: repeat;
}

#espacioenmediodelaseccion2{
    max-width: 100%;
    padding-top: 45px;
    padding-bottom: 45px;
}

.estilodetituloblanco{
    font-size: 2em;
    color: white;
}

#textoresaltadoamarillo{
    color: gold;
}

@media screen and (max-width: 480px){
    .estilodetituloblanco{
        font-size: 1.8em;
    }
}



#imgdefondosecc3{
    background-color: white;
}

#espacioenmediodelaseccion3{
    max-width: 100%;
    padding-top: 45px;
    padding-bottom: 0px;
}

#tamanoimgmanosconcertificado{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 480px){
    #espacioenmediodelaseccion3{
        padding-top: 160px;
    }
}



#fondorojo{
    background-color: #DF0101;
    margin: 0px;
    height: auto;
}

#espacioarribayabajodelaseccion4{
    padding-top: 120px;
    padding-bottom: 120px;
}

.centrarinformacion{
    text-align: center;
}

#altodefilatextocanjeo{
    padding-top: 1%;
    padding-bottom: 1%;
    height: auto; 
}

#tamanoimgregalo{
    height: auto;
    padding-top: 23px;
    padding-bottom: 23px;
    width: 35%;
}

#altodefilacodigo{
    padding-top: 1%;
    padding-bottom: 1%;
    height: auto;
}

#cuadroblanco{
    background-color: white;
    color: #DF0101;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 13px;
}




.franjanegrapie{
    background-color: black;
    height: auto;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
}

.acomodardisplayinterno{
    display: inline-block;
}

#cuadrodepie{
    overflow: hidden;
    padding-top: 7px;
    padding-bottom: 9px;
}

#espacionegro{
    display: none;
    visibility: hidden;
}

@media screen and (max-width: 480px){
    #espacionegro{
        display: block;
        visibility: visible; 
        background-color: black;
        height: 60px;
    }
}






















.h2centrado{
    text-align: center;
}



#iconosalcentro{
    text-align: center;
}

#rectanguloredondeadonaranja{
    background-color: orangered;
    border-radius: 35px;
    height: 200px;
    width: 200px;
}

#circulo{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: white;
    position: relative;
    top: 12%;
    left: 12%;
}

#flechaderecha{
    width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid orangered;
	border-bottom: 50px solid transparent;
    position: relative;
    top: 17%;
    left: 24%;
}

#espacioenmediodelossimbolos{
    padding-left: 4%;
    padding-right: 4%;
}

#rectanguloredondeadoverde{
    background-color: green;
    border-radius: 35px;
    height: 200px;
    width: 200px;
}

#portapapeles{
    width: 119px;
    height: 145px;
    border-radius: 15px;
    background-color: saddlebrown;
    position: relative;
    top: 14%;
    left: 21%;
}

#hoja{
    background-color: white;
	height: 119px;
    width: 98px;
    position: relative;
    top: 10%;
    left:9%;
}

#lineadetexto{
    width: 75px;
	height: 10px;
    background-color: grey;
    border-radius: 4px;
	position: relative;
    top: 17%;
    left: 12%;
}

#lineadetexto2{
    width: 75px;
	height: 10px;
    background-color: grey;
    border-radius: 4px;
	position: relative;
    top: 29%;
    left: 12%;
}

#lineadetexto3{
    width: 75px;
	height: 10px;
    background-color: grey;
    border-radius: 4px;
	position: relative;
    top: 41%;
    left: 12%;
}

#lineadetexto4{
    width: 75px;
	height: 10px;
    background-color: grey;
    border-radius: 4px;
	position: relative;
    top: 53%;
    left: 12%;
}

.textodefiguraalcentro{
    text-align: center;
}

#textodefiguranaranja{
    color: orangered;
    font-size: 1.3em;
    font-weight: 700;
}

#textodefiguraverde{
    color: green;
    font-size: 1.3em;
    font-weight: 700;
}

#seccion4{
    background-color: #2f2e2e;
    color: white;
    height: auto;
}

#centradoverticalmente{
    padding-top: 12px;
    padding-bottom: 12px;
}

#seccion5{
    height: auto;
}

#video{
    max-width: 100%;
    padding-top: 120px;
    padding-bottom: 140px;
}

#videocentrado{
    text-align: center;
}

#seccion6{
    background-color: #2f2e2e;
    color: white;
    height: auto;
}

#informacioncentradaverticalmente{
    padding-top: 65px;
    padding-bottom: 120px;
}

#seccion7{
    height: auto;
}

.rectangulodecadapaso{
    height: auto;
    border-radius: 50px;
    padding-top: 1.3%;
    padding-bottom: 1.3%;
    text-align: center;
    color: white;
}

#rectangulopaso1{
    background-color: limegreen;
}

.textoalcentro{
    text-align: center;
}

#tamanoimgpanelmaterialdeestudio{
    height: auto;
    width: 60%;
}

#tamanoimglistadecompetencias{
    height: auto;
    width: 35%;
}

#rectangulopaso2{
    background-color: royalblue;
}

#tamanoimgbotones{
    height: auto;
    width: 60%;
}

.resaltadocolorrojo{
    font-weight: 700;
    color: red;
}

#rectangulopaso3{
    background-color: darkorange;
}

#tamanoimgevaluadorindividual{
    height: auto;
    width: 50%;
}

#rectangulopaso4{
    background-color: saddlebrown;
}

#tamanoimglistasbienymal{
    height: auto;
    width: 60%;
}

#tamanoimgnuevalista{
    height: auto;
    width: 30%;
}

#rectangulopaso5{
    background-color: deepskyblue;
}

#tamanoimgtomaundescanso{
    height: auto;
    width: 90%;
}

#rectangulopaso6{
    background-color: rebeccapurple;
}

#tamanoimgpresentaexamenesaleatorios{
    height: auto;
    width: 50%;
}

.textogranderesaltado{
    text-align: center;
    font-size: 1.3em;
}

#textoennegritas{
    font-weight: 700;
}

#piedepagina{
    border-collapse: collapse;
    height: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 16px;
}

#textopieblanco{
    color: white;
}