*{
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

body{
    font-size: 16px;
    font-family: 'Segoe UI','Open Sans','Arial';
    margin: 0;
}

.centrado{
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.ir-arriba{
    background-color: darkgreen;
    display: none;
    padding: 10px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    border-radius: 12px;
}

#triangulobotonarriba{
    height: 0;
    border-bottom: 30px solid #FFFFFF;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    width: 0;
    transition: all .5s linear;
    z-index: 101;
}

.franjanegra{
    background-color: black;
    height: auto;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
}

#alinearfloatderechaencabezado{
    float: right;
}

#alinearfloatizquierdaencabezado{
    float: left;
}

#cuadrodeencabezado{
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 7px;
}

#tamanoimglogotp{
    width: 233px;
    height: auto;
}

.espacioarribayabajodelogo{
    padding-top: 15px;
    padding-bottom: 5px;
}

.espacioarribadelinksrss{
    padding-top: 5px;
}

.tamanotextoencabezado{
    font-size: 1.2em;
    font-weight: 500;
}   

#tamanoimgtelefono{
    width: 22px;
    height: auto;
}

#tamanoimgsobre{
    width: 22px;
    height: auto;
}

#fondotel{
    background-color: black;
}

#fondotel:hover{
    background-color: green;
    border-radius: 5px;
    padding-left: 6px;
}

#fondocorreo{
    background-color: black;
}

#fondocorreo:hover{
    background-color: green;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
}

#fondosecc1{
    background-color: #000000;
    height: auto;
}

#espacioenmediodelaseccion1{
    max-width: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
}

.acomodardisplay{
    display: inline-block;
}

.anchocompleto{
    width: 100%;
}

#tituloblanco{
    color: white;
    font-size: 3.8em;
    font-weight: 600;
    text-align: center;
}

#tamanoimgcertificado{
    height: auto;
    max-width: 75%;
}

#espacioarribayabajodecertificado{
    padding-top: 23px;
    padding-bottom: 0px;
}

.textoblanco{
    color: white;
}

#textoprecioespecial{
    color: gold;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 28px;
}

#precioresaltado{
    color: white;
    font-size: 5em;
    font-weight: 600;
    text-align: center;
}

#precioanterior{
    font-size: 1.5em;
    color: red;
    text-align: center;
}

#preciotachadorojo{
    text-decoration: line-through;
}

#espaciotituloyflecha{
    height: 100px;
    width: 100%;
}

#flechaabajo{
    max-width: 100%;
    height: auto;
    padding-left: 49%;
    animation-direction: alternate;
}

#triangulo{
    height: 0;
    border-top: 30px solid #FFFFFF;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    width: 0;
    transition: all .5s linear;
}

#triangulo:hover{
    border-top: 30px solid #FFFF00;
}

#fondoseccion2{
    background-image: url(Logos%20de%20office.png);
    background-position: center -55%;
    background-size: 60px;
    background-repeat: repeat;
}

#espacioenmediodelaseccion2{
    max-width: 100%;
    padding-top: 45px;
    padding-bottom: 45px;
}

.estilodetituloblanco{
    font-size: 2em;
    color: white;
}

#textoresaltadoamarillo{
    color: gold;
}

#imgdefondosecc3{
    background-color: white;
}

#espacioenmediodelaseccion3{
    max-width: 100%;
    padding-top: 45px;
    padding-bottom: 0px;
}

#tamanoimgmanosconcertificado{
    width: 100%;
    height: auto;
}

#fondorojo{
    background-color: #DF0101;
    margin: 0px;
    height: auto;
}

#espacioarribayabajodelaseccion4{
    padding-top: 120px;
    padding-bottom: 120px;
}

.centrarinformacion{
    text-align: center;
}

#altodefilatextocanjeo{
    padding-top: 1%;
    padding-bottom: 1%;
    height: auto; 
}

#tamanoimgregalo{
    height: auto;
    padding-top: 23px;
    padding-bottom: 23px;
    width: 35%;
}

#altodefilacodigo{
    padding-top: 1%;
    padding-bottom: 1%;
    height: auto;
}

#cuadroblanco{
    background-color: white;
    color: #DF0101;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 13px;
}

.franjanegrapie{
    background-color: black;
    height: auto;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
}

#alinearfloatderechapie{
    float: right;
}

#alinearfloatizquierdapie{
    float: left;
}

#cuadrodepie{
    overflow: hidden;
    padding-top: 7px;
    padding-bottom: 9px;
}

.espacioarribadelinks{
    padding-top: 10px;
}

.acomodardisplayinterno{
    display: inline-block;
}

.espacioentrelinks{
    padding-left: 10px;
    padding-right: 10px;
}

#espacionegro{
    display: none;
    visibility: hidden;
}


/*==========  Non-Mobile First Method  ==========*/

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        
        #tamanoimglogotp{
            width: 233px;
            height: auto;
        }
     
        .tamanotextoencabezado{
            font-size: 1em;
        }
     

        #espacioenmediodelaseccion1{
            max-width: 100%;
            padding-top: 40px;
            padding-bottom: 20px;
        }
    
        #tituloblanco{
            color: white;
            font-size: 3.4em;
            font-weight: 600;
            text-align: center;
        }
    
        #textoprecioespecial{
            color: gold;
            font-size: 2em;
            font-weight: 700;
            line-height: 28px;
        }

        #precioresaltado{
            color: white;
            font-size: 4.5em;
            font-weight: 600;
            text-align: center;
        }

        #precioanterior{
            font-size: 1.5em;
            color: red;
            text-align: center;
        }

        #preciotachadorojo{
            text-decoration: line-through;
        }

        #espaciotituloyflecha{
            height: 80px;
            width: 100%;
        }

        .estilodetituloblanco{
            font-size: 1.8em;
        }

        #espacioenmediodelaseccion3{
            padding-top: 160px;
        }

        #alinearfloatderechapie{
            float: none;
            text-align: center;
        }

        #alinearfloatizquierdapie{
            float: none;
            text-align: center;
        }
    
        #espacionegro{
            display: block;
            visibility: visible; 
            background-color: black;
            height: 62px;
        }
    }


    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        
        #tamanoimglogotp{
            width: 233px;
            height: auto;
        }
        
        #alinearfloatizquierdaencabezado{
            float: none;
            text-align: center;
        }
        
        #alinearfloatderechaencabezado{
            float: none;
            text-align: center;
        }

        .espacioarribadelinksrss{
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .tamanotextoencabezado{
            font-size: 1em;
        }

        #espacioenmediodelaseccion1{
            max-width: 100%;
            padding-top: 40px;
            padding-bottom: 20px;
        }   

        #tituloblanco{
            color: white;
            font-size: 2.2em;
            font-weight: 600;
            text-align: center;
        }
        
        #textoprecioespecial{
            font-size: 1.5em;
            text-align: center;
        }

        #precioresaltado{
            font-size: 2.6em;
            text-align: center;
        }

        #precioanterior{
            color: red;
            font-size: 1.2em;
            text-align: center;
        }

        #espaciotituloyflecha{
            height: 70px;
            width: 100%;
        }
        
        .estilodetituloblanco{
            font-size: 1.8em;
        }
        
        #espacioenmediodelaseccion3{
            padding-top: 160px;
        }
        
        #alinearfloatderechapie{
            float: none;
            text-align: center;
        }

        #alinearfloatizquierdapie{
            float: none;
            text-align: center;
        }
        
        #espacionegro{
            display: block;
            visibility: visible; 
            background-color: black;
            height: 60px;
        }        
    }